<div class="row" *ngIf="member$ | async as member">
    <div class="col-4">
        <h1>Your profile</h1>
    </div>
    <div class="col-8">
        <div *ngIf="editForm.dirty" class="alert alert-info pb-0">
            <p><strong>Information:</strong> You have made changes. Any unsaved changes will be lost.</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img class="card-img img-thumbnail" src="{{ member.photoUrl || './assets/user.png' }}" alt="{{ member.knownAs }}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{ member.city }}, {{ member.country }}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{ member.age }}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{ member.lastActive | date: 'MM-dd-yy' }}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{ member.created | date: 'MM-dd-yy' }}</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" [disabled]="!editForm.dirty" class="btn btn-success col-12" form="editForm">
                    Save changes
                </button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{ member.knownAs }}">
                <form id="editForm" #editForm="ngForm" (ngSubmit)="updateMember()">
                    <h4 class="mt-2">Description</h4>
                    <textarea name="introduction" [(ngModel)]="member.introduction" id="introduction" rows="6" class="form-control"></textarea>
                    <h4 class="mt-2">Looking for</h4>
                    <textarea name="lookingFor" [(ngModel)]="member.lookingFor" id="lookingFor" rows="6" class="form-control"></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea name="interests" [(ngModel)]="member.interests" id="interests" rows="6" class="form-control"></textarea>
                    
                    <h4 class="mt-2">Location details:</h4>
                    <div class="d-flex align-center">
                        <label>City:</label>
                        <input type="text" [(ngModel)]="member.city" name="city" class="form-control mx-2">
                        
                        <label>Country:</label>
                        <input type="text" [(ngModel)]="member.country" name="country" class="form-control mx-2">
                    </div>
                </form>
            </tab>
            <tab heading="Edit photos">
                <app-photo-editor [member]="member" (memberChange)="onMemberChange($event) />
            </tab>
        </tabset>
    </div>
</div>
